body {
    background-color: antiquewhite;
    font-family: 'Times New Roman', Times, serif;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

nav li {
    float: right;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #111;
}

.picture {
    width: 40%;
    height: auto;
    padding: 10px;
    margin: auto;
    float: left;
    
}

.mepic {
    display: block;
    width: 100%;
    height: auto;
}

.name {
    text-align: center;
    font-size: 27px;
    font-family: 'Times New Roman', Times, serif;
    margin: auto;
    padding: 5px;
}

.year {
    height: 130px;
    width: auto;
    margin: auto;
}

.yeard {
    width: 100%;
    display: flex;
}

.sideText {
    width: 50%;
    padding: 30px;
    margin: auto;
    float: right;
    text-align: justify;
    font-size: 18px;
}

footer {
    background-color: #333;
    color: white;
    padding: 6px;
    clear: both;
}

footer a {
    color: white;
    font-weight: 200;
}

.report {
    width: 50%;
    height: auto;
}

div#main {
    border: solid black 3px;
    margin: auto;
    width: 90%;
    clear: both;
}

table {
    width: 95%;
    margin: auto;
}

table th {
    width: 50%;
}

table th p {
    text-align: justify;
    font-weight: 500;
    font-size: 18px;
}

table th {
    border-bottom: #111 dashed 2px;
}

.tbottom {
    border-bottom: unset !important;
}